.badgeNotify {
  background-color: hsl(0, 91%, 47%);
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 8px;
  margin-left: -15px;
  margin-top: -50px !important;
}

.typing-container {
  display: flex;
  align-items: center;
  background-color: rgb(249, 247, 247);
  padding: 10px;
  border-radius: 30px;
  max-width: fit-content;
}

.typing-text {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.typing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #98969a;
  margin: 0 2px;
  animation: bounce 0.5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.typing span:nth-child(2) {
  animation-delay: 0.1s;
}

.typing span:last-child {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
